ul {
  list-style-type: none;
  font-family: "pokefont", pokefont, serif;
}

body {
  background-image: url('/img/sea.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#header {
  display: block;
  width: 600px;
  height: 100px;
  margin: 10px auto 0px;
}

#header img, h1 {
  display: inline-block;
}

#header h1 {
  font-size: 70px;
  color: white;
  margin: 0 0 15px 0;
}

#menu {
  display: none;
  width: 600px;
  height: 400px;
  background-color: white;
  margin: 20px auto;
}

#island {
  display: block;
  margin: 20px auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}