ul {
  list-style-type: none;
  font-family: "pokefont", pokefont, serif;
}

u {
  text-decoration: underline;
}

body {
  background-image: url('/img/sea.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#header {
  display: block;
  width: 600px;
  height: 100px;
  margin: 10px auto 0px;
}

#header img {
  margin: -5px 125px 0px;
  height: 100px;
  width: 300px;
}

#header h1 {
  font-size: 50px;
  color: white;
  margin: -30px 0px 0px 230px;
}

.menu {
  width: 600px;
  height: 400px;
  background-color: white;
  margin: 20px auto;
}

.island {
  display: none;
  margin: 20px auto;
}

.found {
  display: none;
  width: 600px;
  height: 400px;
  background-color: white;
  margin: 20px auto;
}

.fight {
  display: none;
  width: 600px;
  height: 400px;
  background-color: white;
  margin: 20px auto;
}

.show {
  display:block;
}

.hide {
  display:none;
}